.swing {
    animation: swing ease-in-out 2.6s infinite alternate;
    transform-origin: center -550px 0;
    z-index: 1;
}
.swing img {
    display: inline-block;
    float: left;
    position: absolute;
    top: -125px;
    left: 0;
    opacity: 1;
    z-index: 1;
}
.swing:after{
    z-index: 1;
}

.swing:before{
    z-index: 1;
}

.bluey {
    animation: swing ease-in-out 2.1s infinite alternate;
    transform-origin: 0 0;
    z-index: -1;
}
.bluey img {
    display: inline-block;
    float: left;
    position: absolute;
    bottom: -28em;
    left: 7em;
    z-index: -1;
    /* margin-top: 150px; */
}
.bluey:after{
    z-index: -1;
}

.bluey:before{
    z-index: -1;
}
.greenswing {
    animation: swing ease-in-out 1.8s infinite alternate;
    transform-origin: top left -10px;
    z-index: -2;
    opacity: .7;
    position: absolute;
}
.greenswing img {
    display: inline-block;
    float: right;
    position: relative;
    bottom: -12em; */
    left: 50em;
    opacity: .7;
    z-index: -2;
}
.greenswing:after{
    z-index: -2;
}

.greenswing:before{
    z-index: 0;
}
@keyframes swing {
    0% { transform: rotate(1deg); }
    100% { transform: rotate(-2deg); }
}

@keyframes bluey {
    0% { transform: rotate(1deg); }
    100% { transform: rotate(-.5deg); }
}
@keyframes greenswing {
    0% { transform: rotate(-.08deg); }
    100% { transform: rotate(.1deg); }
}



/* Set keyframes for background fade-in */
@keyframes pop-in {
	0% { opacity: 0; transform: scale(0.5); }
	100% { opacity: 1;transform: scale(1); }
}
@-webkit-keyframes pop-in {
	0% { opacity: 0;-webkit-transform: scale(0.5); }
	100% { opacity: 1;-webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
	0% { opacity: 0;-moz-transform: scale(0.5); }
	100% { opacity: 1;-moz-transform: scale(1); }
}
@keyframes eye-in {
	0% { opacity: 0;transform: scale(0);}
	100% { opacity: .4;transform: scale(1);}
}
@-webkit-keyframes eye-in {
	0% { opacity: 0;-webkit-transform: scale(0);}
	100% { opacity: .4;-webkit-transform: scale(1);}
}
@-moz-keyframes eye-in {
	0% { opacity: 0;-moz-transform: scale(0);}
	100% { opacity: .4;-moz-transform: scale(1);}
}
@keyframes blue-eye-in {
	0% { opacity: 0;transform: scale(0); transform: rotate(0);}
	100% { opacity: .6;transform: scale(1);}
}
@-webkit-keyframes blue-eye-in {
	0% { opacity: 0;-webkit-transform: scale(0); webkit-transform: rotate(0);}
	100% { opacity: .6;-webkit-transform: scale(1);}
}
@-moz-keyframes blue-eye-in {
	0% { opacity: 0;-moz-transform: scale(0); -moz-transform: rotate(0);}
	100% { opacity: .6;-moz-transform: scale(1);}
}

/* Animates the background fade-in */
.pop {
    -webkit-animation:pop-in 4s;
    -moz-animation:pop-in 4s;
    -ms-animation:pop-in 4s;
    animation-timing-function: ease-in;
    /* width: 750px; */
    max-height: 675px;
    position: absolute;
    object-fit: contain;
    right: 0;
    bottom: 3%;
    background-color: transparent;
    z-index: 1;
}

/* Animates Epitome Bella's eyes from background */
.eyes {
    -webkit-animation:eye-in 4.5s;
    -moz-animation:eye-in 4.5s;
    -ms-animation:eye-in 4.5s;
    animation-timing-function: ease-in;
    width: 5.714em;
    height: 1.786em;
    position: absolute;
    right: 75vw;
    top:30vw;
    background-image: url("../images/purple_eyes_sm.png");
	max-width:100%;
    max-height:100%;
    background-repeat:no-repeat;
    opacity: .4;
}

.blueeyes {
    -webkit-animation:blue-eye-in 7s;
    -moz-animation:blue-eye-in 7s;
    -ms-animation:blue-eye-in 7s;
    animation-timing-function: ease-in;
    width: 4.286em;
    height: 1.071em;
    position: absolute;
    right: 55vw;
    top: 42vw;
    background-image: url("../images/blue_eyes.png");
		max-width:100%;
		max-height:100%;
    background-repeat:no-repeat;
    opacity: .6;
}
