/* Set keyframes for background fade-in */
@keyframes pop-in {
	0% { opacity: 0; transform: scale(0.5); }
	100% { opacity: 1;transform: scale(1); }
}
@-webkit-keyframes pop-in {
	0% { opacity: 0;-webkit-transform: scale(0.5); }
	100% { opacity: 1;-webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
	0% { opacity: 0;-moz-transform: scale(0.5); }
	100% { opacity: 1;-moz-transform: scale(1); }
}
@keyframes eye-in {
	0% { opacity: 0;transform: scale(0);}
	100% { opacity: .4;transform: scale(1);}
}
@-webkit-keyframes eye-in {
	0% { opacity: 0;-webkit-transform: scale(0);}
	100% { opacity: .4;-webkit-transform: scale(1);}
}
@-moz-keyframes eye-in {
	0% { opacity: 0;-moz-transform: scale(0);}
	100% { opacity: .4;-moz-transform: scale(1);}
}
@keyframes blue-eye-in {
	0% { opacity: 0;transform: scale(0); transform: rotate(0);}
	100% { opacity: .6;transform: scale(1); transform: rotate(6deg);}
}
@-webkit-keyframes blue-eye-in {
	0% { opacity: 0;-webkit-transform: scale(0); webkit-transform: rotate(0);}
	100% { opacity: .6;-webkit-transform: scale(1); webkit-transform: rotate(6deg);}
}
@-moz-keyframes blue-eye-in {
	0% { opacity: 0;-moz-transform: scale(0); -moz-transform: rotate(0);}
	100% { opacity: .6;-moz-transform: scale(1); -moz-transform: rotate(6deg);}
}

/* Animates the main background fade-in */
.pop {
    -webkit-animation:pop-in 4s;
    -moz-animation:pop-in 4s;
    -ms-animation:pop-in 4s;
    animation-timing-function: ease-in;
    /* width: 31.250em;
    height: 33.875em; */
    position: absolute;
    Right: 10vw;
    bottom: 5vw;
    z-index: 10;
		background-color: transparent;
}

/* Animates Epitome Bella's eyes from background */
.eyes {
    -webkit-animation:eye-in 4.5s;
    -moz-animation:eye-in 4.5s;
    -ms-animation:eye-in 4.5s;
    animation-timing-function: ease-in;
    width: 5.714em;
    height: 1.786em;
    position: absolute;
    right: 75vw;
    top:30vw;
    z-index: 2;
    background-image: url("../images/purple_eyes_sm.png");
		max-width:100%;
		max-height:100%;
    background-repeat:no-repeat;
    opacity: .4;
}

.blueeyes {
    -webkit-animation:blue-eye-in 7s;
    -moz-animation:blue-eye-in 7s;
    -ms-animation:blue-eye-in 7s;
    animation-timing-function: ease-in;
    width: 4.286em;
    height: 1.071em;
    position: absolute;
    right: 55vw;
    top: 42vw;
    z-index: 2;
    background-image: url("../images/blue_eyes.png");
		max-width:100%;
		max-height:100%;
    background-repeat:no-repeat;
    opacity: .6;
}
