/*Sub Overlay*/
.lower {
  position: absolute;
  left: 1em;
  top: 4em;
  width:10.5em;
  height: 1.1em;
	/* margin:10% auto; */
	padding: .65em;
	background: #124816;
	opacity:0.9;
    border-radius: 1em;
  	color: white;
  	box-shadow:inset 0 0 0 .15em black;
  	border:.5em solid #0b2e0e;
    display: inline-block;
    z-index: 102;
}

.lower:hover {
 	background:#0b2e0e;
 	color:white;
 	box-shadow:inset 0 0 0 .15em #323232;
 	border:.5em solid #124816;
  border-radius: 1em;
}

input{
	display:none;
}

.lower label{
	font-family: 'NotCourierSans';
	text-transform:uppercase;
	font-size:1.02em;
  text-align:center;
}

.lower label:hover {
	cursor:pointer;
}

.sublay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(49,0,74, 1);
	background-image: url("../images/Simon.png");
  background-repeat:no-repeat;
	z-index: 10000;
}

.sublay label {
	width: 9em;
	height:9empx;
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 5001;
  	cursor:pointer;
}

.sublay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sublay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.sublay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.sublay ul li a {
	font-weight: 300;
	display: block;
	color: white;
  	text-decoration:none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
  	font-family: 'NotCourierSans';
  	text-transform:uppercase;
}

.sublay ul li a:hover,
.sublay ul li a:focus {
	color: #849368;
}

.lower~.sublay-hugeinc{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
  z-index: 5000;
}

#op:checked~.sublay-hugeinc{
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
  z-index: 5000;
}

.sublay-hugeinc nav {
	-moz-perspective: 300px;
}

.sublay-hugeinc nav ul {
	opacity: 1;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

#op:checked~.sublay-hugeinc nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
  z-index: 5000;
}

#op:not(:checked)~.sublay-hugeinc nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
  z-index: 5000;
}
