
.youtube {
  width: 26.66em;
  height: 15em;
background: transparent;
position: relative;
/* left: 1em; */
/* top: -1em; */
z-index: 11;
padding: 0;
margin: 0;
display: inline-block;
overflow: hidden;
}
.video-youtube-lazy{
  position: relative;
  width: 26.66em;
  height: 15em;
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
  margin: 0;
  background: transparent;
  z-index: 20;
}
.video-youtube-lazy:before{
content:"";
position:absolute;
top:30%;
left:42%;
cursor:pointer;
opacity:.6;
transition: all 0.2s ease-out;
border-style: solid;
border-width: 1.3em 0 1.3em 2.4em;
border-color: transparent transparent transparent #fff;
background: transparent;
z-index: 20;

}
.video-youtube-lazy:hover:before{
border-color: transparent transparent transparent #77ff27!important;
color:red!important;
opacity:1;
background: transparent;
}
.youtube img{
position: absolute;
width: 100%;
bottom: 1.25em;
left: 0;
z-index:1;
background: transparent;
}
.youtube iframe{
position:absolute;
top:0;
left:0;
width:100%;
height:80%;
z-index:21;
overflow: visible;
background: transparent;
}
/*better styles below*

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.82%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
