body {
    background-color: black;
    background-image: url("big_eyes.png");
    background-repeat:no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 50%;
}
h1 {
    font-family: 'Nosifer', cursive;
    font-size: 3.5em;
    color: #ADD8E6;
    text-align: center;
}
h2 {
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
    color: #ADD8E6;
    text-align: left;
}

.topnav {
  height: 45px;
  opacity: 0.75;
  overflow: hidden;
  background-color: #153817;
  position: relative;
  top: 5px;
  z-index: -1;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  opacity: 0.75;
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  opacity: 0.75;
  background-color: #ddd;
  color: black;
}

.active {
  opacity: 0.75;
  background-color: #4CAF50;
  color: white;
}



/* Style the logo */
.logo {
  position: absolute;
  left: 10px;
  top: 0;
}
