body {
    background-color: black;
    background-image: url("big_eyes.png");
    background-repeat:no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 50%;
}
h1 {
    font-family: 'Nosifer', cursive;
    font-size: 3.5em;
    color: #ADD8E6;
    text-align: center;
}
h2 {
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
    color: #ADD8E6;
    text-align: left;
}

/* Style the logo */
.logo {
  opacity: 0.75;
  position: absolute;
  left: 10;
  top: 0;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  opacity: 0.75;
  background-color: #153817;
  position: relative;
  top: 10;
  line-height:45px;
  height:45px;
  z-index: -1;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  opacity: 0.75;
}

/* Style navigation menu links */
.topnav a {
  opacity: 0.75;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  opacity: .75;
  display: block;
  position: absolute;
  right: 0;
  top: 0;

}
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  opacity: 0.75;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
    opacity: 0.75;
    background-color: #153817;
  color: white;
}
