body {
    background-color: white;
    background-image: url("watching.png");
    background-repeat:no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 35%;
}
Basic {
    font-family: Arial;
    color: gray;
    text-align: left;
}
Bindent {
    font-family: Arial;
    color: gray;
    text-align: left;
    text-indent: 50px;
}
Bred {
    font-family: Arial;
    color: red;
    text-align: left;
}
Cutpaste {
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    color: red;
    text-align: left;
}
Amatic {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    color: black;
    text-align: left;
}
Cinzel {
    font-size: 1.5em;
    font-family: 'Cinzel', serif;
    color: black;
    text-align: left;
}
Orbitron {
    font-size: 1.5em;
    font-family: 'Orbitron', sans-serif;
    color: black;
    text-align: left;
}
LifeSavers {
    font-size: 2.5em;
    font-family: 'Life Savers', cursive;
    color: black;
    text-align: left;
}
Bangers {
    font-size: 1.5em;
    font-family: 'Bangers', cursive;
    color: black;
    text-align: left;
}
Montserrat {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: left;
}
Creepster {
    font-size: 1.5em;
    font-family: 'Creepster', cursive;
    color: black;
    text-align: left;
}
Nosifer {
    font-size: 1.5em;
    font-family: 'Nosifer', cursive;
    color: black;
    text-align: left;
}
Butcherman {
    font-size: 1.5em;
    font-family: 'Butcherman', cursive;
    color: black;
    text-align: left;
}
