
body {
    background-color: #431190;
    background-image: url("Simon.png");
    background-repeat:no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    color: #a734cd;
    text-align: center;
}
h2 {
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
    color: #a734cd;
    text-align: left;
}
