body {
    background-color: black;
  /*  background-image: url("big_eyes.png");*/
   /* background-repeat:no-repeat;*/
   /* background-position: right bottom;*/
    /*background-attachment: fixed;*/
 /*   background-size: 50%;*/
   /* padding: 0;*/
   /* margin: 0;*/
}
@keyframes pop-in {
0% { opacity: 0;transform: scale(0.5); }
100% { opacity: 1;transform: scale(1); }
}
@-webkit-keyframes pop-in {
0% { opacity: 0;-webkit-transform: scale(0.5); }
100% { opacity: 1;-webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
0% { opacity: 0;-moz-transform: scale(0.5); }
100% { opacity: 1;-moz-transform: scale(1); }
}

.pop {
    -webkit-animation:pop-in 5s;
    -moz-animation:pop-in 5s;
    -ms-animation:pop-in 5s;
    animation-timing-function: ease-in;
    width: 597px;
    height: 647px;
    position: fixed;  
    Right: 0px;
    bottom: 0;
    z-index: -2;
    background-image: url("med_eyes.png");
    background-repeat:no-repeat;
}
h1 {
    font-family: 'Nosifer', cursive;
    font-size: 3.5em;
    color: #ADD8E6;
    text-align: center;
}
h2 {
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
    color: #ADD8E6;
    text-align: left;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
.topnav {
  height: 60px;
  width: 100%;
  max-width: 100%;
  opacity: 0.75;
  overflow: hidden;
  background-color: #153817;
  position: fixed;
  top: 10;
  z-index: 10;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}



.topnav a:hover {
  opacity: 0.75;
  background-color: #ddd;
  color: black;
}

.active {
  opacity: 0.75;
  background-color: #4CAF50;
  color: white;
}



/* Style the logo */
.logo {
  position: fixed;
  left: 10px;
  top: 5;
  z-index: 100;
}

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    /*margin-top: 30px;*/
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    right: 0;
    width: 250px;
    margin-top: 32px;
    transform: translateX(+250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #0e2910 0%, #29a933 100%);
    opacity: 0.85;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    opacity: 0.85;
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
    z-index: 200;
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
    z-index: 200;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 32px;
    right: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: right;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
    z-index: 200;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    z-index: 200;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    z-index: 200;
}
