body {
    background-color: black;
    background-image: url("big_eyes.png");
    background-repeat:no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: 50%;
}
h1 {
    font-family: 'Nosifer', cursive;
    font-size: 3.5em;
    color: #ADD8E6;
    text-align: center;
}
h2 {
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
    color: #ADD8E6;
    text-align: left;
}
