
body {
    background-color: black;
    background-image: url("Simon.png");
    background-repeat:no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
h1 {
    color: #431190;
    text-align: center;
}
h2 {
    color: #a734cd;
    text-align: left;
}
